<div class="container-fluid">
    <p-galleria [images]="images" styleClass="completa" panelWidth="500" panelHeight="313" [showFilmstrip]="true"
    [showCaption]="false"></p-galleria>
</div>
<p-dataView #dv [value]="sanphams" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="Ten"
[sortField]="sortField" [sortOrder]="sortOrder">
<p-header>
    <div class="ui-helper-clearfix">
        <div class="ui-g">
            <div class="ui-g-6 ui-md-3">
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sắp xếp theo" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-3">
                <button pButton class="ui-button-success"  type="button" label="Thêm sản phẩm" (click)="Themmoisanpham($event)"></button>
            </div>
            <div class="ui-g-6 ui-md-3 filter-container">
                <div style="position:relative">
                    <input type="search" pInputText placeholder="Tìm theo tên" (keyup)="dv.filter($event.target.value)">
                </div>
            </div>
            <div class="ui-g-6 ui-md-3" style="text-align:right">
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </div>
    </div>
</p-header>
<ng-template let-sanpham pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
        <div class="ui-g-12 ui-md-2" style="text-align:center">
            <img src="{{sanpham.HinhAnh}}" width="100px">
        </div>
        <div class="ui-g-12 ui-md-8 sanpham-details">
            <div class="ui-g">
                <div class="ui-g-2 ui-sm-6">Tên: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{sanpham.Ten}}</b></div>

                <div class="ui-g-2 ui-sm-6">Số lượt tải: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{sanpham.Soluottai}}</b></div>

                <div class="ui-g-2 ui-sm-6">Mô tả: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{sanpham.MoTa}}</b></div>

                <div class="ui-g-2 ui-sm-6">Loại: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{sanpham.Loai}}</b></div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-2 search-icon">
            <div class="ui-g-12"><button pButton type="button" style="width:90px" label="Thay đổi" (click)="selectsanphamAdmin($event, sanpham)" class="ui-button-primary"></button></div>
            <div class="ui-g-12"></div>
            <div class="ui-g-12"></div>
            <div class="ui-g-12"></div>
            <div class="ui-g-12"><button pButton type="button" style="width:90px" label="Xóa" (click)="handleClick($event, sanpham)" class="ui-button-danger"></button></div>
        </div>
    </div>
</ng-template>
<ng-template let-sanpham pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
        <p-panel [header]="sanpham.Ten" [style]="{'text-align':'center','vertical-align':'middle','display':'table-cell'}">
            <img src="{{sanpham.HinhAnh}}" width="60" style="display: table-cell; vertical-align: middle;">
            <div class="sanpham-detail">{{sanpham.Soluottai}} lượt tải - {{sanpham.Ten}}</div>
            <hr class="ui-widget-content" style="border-top:0">
            <div class="btn-group">
                <label class="btn btn-primary" (click)="selectsanphamAdmin($event, sanpham)" 
                       btnCheckbox tabindex="0" role="button">Thay đổi</label>
                <label class="btn btn-danger" (click)="handleClick($event, sanpham)"
                       btnCheckbox tabindex="0" role="button">Xóa</label>
            </div>
        </p-panel>
    </div>
</ng-template>
</p-dataView>

<p-dialog header="{{(selectedsanpham == null)?'Thêm mới sản phẩm':'Chỉnh sửa sản phẩm'}}" [(visible)]="displayDialog" [baseZIndex]="10000" [maximizable]="true" [responsive]="true" showEffect="fade" [modal]="true"   (onAfterHide)="onDialogHide(); ResetDulieu(); ">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
        <form  class="form-horizontal" #sanphamForm = "ngForm" >
                <div class="ui-g-12 ui-md-4" style="text-align:center">
                    <img src="{{LinkAnh}}" width="100px">
                </div>
                    <div class="ui-g-12 ui-md-8 sanpham-details" >
                        <div class="ui-g">
                                <div class="ui-g-2 ui-sm-2">ID: </div>
                                <div class="ui-g-6 ui-sm-6">
                                    <div class="ui-inputgroup">
                                        <span class="ui-inputgroup-addon"><i class="fa fa-address-card-o"></i></span>
                                        <input class="form-control" required (keypress)="IDTouch();" id="ID_SanPham"  type="text" pInputText placeholder="ID" name="ID_SanPham" [(ngModel)]="ID_SanPham" >         
                                    </div>
                                </div>
                                <div class="ui-g-4 ui-sm-4">
                                    <p-message severity="error" text="Phải điền ID sản phẩm" *ngIf="IDtouch == true && ID_SanPham == ''"></p-message>
                                </div>
                            <div class="ui-g-2 ui-sm-2">Tên: </div>
                            <div class="ui-g-6 ui-sm-6">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                                    <input class="form-control" (keypress)="TenTouch();" required type="text" id="name" pInputText placeholder="Tên" name="name" [(ngModel)]="Ten">         
                                </div>
                            </div>
                            <div class="ui-g-4 ui-sm-4">
                                <p-message severity="error" text="Phải điền tên sản phẩm" *ngIf="Tentouch == true && Ten == ''"></p-message>
                            </div>   
                            <div class="ui-g-2 ui-sm-2">Mô tả: </div>
                            <div class="ui-g-6 ui-sm-6">
                                <div class="ui-inputgroup">
                                        <span class="ui-inputgroup-addon"><i class="fa fa-info"></i></span>
                                        <input class="form-control" (keypress)="MoTaTouch();" required id="MoTa" type="text" pInputText placeholder="Mô tả" name="MoTa" [(ngModel)]="MoTa">         
                                </div>
                            </div>
                            <div class="ui-g-4 ui-sm-4">
                                <p-message severity="error" text="Phải điền Mô tả" *ngIf="MoTatouch == true && MoTa == ''"></p-message>
                            </div>

                            <div class="ui-g-2 ui-sm-2">Loại: </div>
                            <div class="ui-g-6 ui-sm-6">
                                <div class="ui-inputgroup">
                                        <span class="ui-inputgroup-addon"><i class="fa fa-suitcase"></i></span>
                                        <input class="form-control" (keypress)="LoaiTouch();" required type="text" pInputText placeholder="Loại" name="Loai"  [(ngModel)]="Loai">         
                                </div>
                            </div>
                            <div class="ui-g-4 ui-sm-4">
                                <p-message severity="error" text="Phải điền loại sản phẩm" *ngIf="Loaitouch == true && Loai == ''"></p-message>
                            </div>
                            <div class="ui-g-2 ui-sm-2">Link Ảnh: </div>
                            <div class="ui-g-6 ui-sm-6">
                                <div class="ui-inputgroup">
                                        <span class="ui-inputgroup-addon"><i class="fa fa-picture-o"></i></span>
                                        <input class="form-control" (keypress)="LinkAnhTouch();" required type="text" pInputText placeholder="Link Ảnh" name="LinkAnh" [(ngModel)]="LinkAnh">         
                                </div>
                            </div>
                            <div class="ui-g-4 ui-sm-4">
                                <p-message severity="error" text="Phải điền link ảnh sản phẩm" *ngIf="LinkAnhtouch == true && LinkAnh == ''"></p-message>
                            </div>
                        </div>
                    </div>
                    <p-footer>
                            <button type="button" pButton icon="pi pi-check" (click)="displayDialog=false; Onsubmit(); sanphamForm.reset();" label="Lưu"></button>
                            <button type="button" pButton icon="pi pi-close" (click)="displayDialog=false; ResetDulieu();  sanphamForm.reset();" label="Hủy" class="ui-button-secondary"></button>
                    </p-footer>
        </form>
    </div>
</p-dialog>

<p-dialog header="Cảnh báo" [(visible)]="displayDownloadDialog" [modal]="true" [responsive]="true" showEffect="fade" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" 
                     [baseZIndex]="10000" (onAfterHide)="onDialogHide()" *ngIf="selectedsanpham">
                        <p style="margin: 30px; text-align: center;">Bạn chắc chắn muốn xóa ứng dụng {{selectedsanpham.Ten}} chứ ?</p>
                        <p-footer>
                            <button type="button" pButton icon="pi pi-check" (click)="displayDownloadDialog=false; XoaSanPham(selectedsanpham);" label="Xóa"></button>
                            <button type="button" pButton icon="pi pi-close" (click)="displayDownloadDialog=false;" label="Không xóa" class="ui-button-secondary"></button>
                        </p-footer>
</p-dialog>
